//Textt above cards
.container .above-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    
    h1 {
        margin: 0;
    }
}

// First import variables
@import "partials/variables/variables";

//Header
@import "partials/layout/header";

//Banner - rotating
@import "partials/layout/banner";

//Welcome and Client Section
@import "partials/layout/welcome-cient-section";


//Container
@import "partials/layout/container";


//Our Services 1 -3 cards
@import "partials/layout/our_services_1";

//Our Services 2 -4 cards
@import "partials/layout/our_services_2";

//Service cards 2 - individual styles
@import "partials/layout/service_cards_1";

//Service cards 1 - individual styles
@import "partials/layout/service_cards_2";

//Welcome section
@import "partials/layout/welcome-section";

//Client Section
@import "partials/layout/client";

// Partners and Case Studies
@import "partials/Partners_Case_Studies";

//footer
@import "partials/footer";

//Partner banner images
@import "partials/layout/partner_images";

//mixins
@import "partials/mixins/mixins";