.our_services_1{      
    background-color: white;
    background-size: cover;
    color: blue;
    padding: 30px 0 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    width: 100%;

 
    .read-more-btn{
        background-color: $ws-btn-color;
        height: 40px;
        color: #fff;
        padding: 10px 40px;
        margin-right: 10px;
        border: 0px solid ;
        border-radius: 5px;
    }
}

.above-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;

    margin-bottom: 1rem;
    
}

// Responsive Design
           
            @media (min-width: $breakpoint-sm) {
               flex: 50%;
            }
 
            @media (min-width: $breakpoint-md) {
               flex: 25%;
            }
 
            @media (min-width: $breakpoint-lg) {
               margin-bottom: 40px;
            }
 

       
 