.banner { 

    .banner-btn {
        background-color: lightgreen;
        height: 40px;
        color: #fff;
        padding: 10px 40px;
        margin-right: 10px;
        border: 0px solid ;
        border-radius: 5px;
        margin-top: 20px;
    }
    .banner-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    img {
        display: flex;
        width: 100%;
        height: auto;
    }


        @media (min-width: $breakpoint-sm) {
            flex: 50%;
        }

        @media (min-width: $breakpoint-md) {
            flex: 25%;
        }

        @media (min-width: $breakpoint-lg) {
            margin-bottom: 40px;
        }

        h4 {
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: 26px;	
        }
    }
}