.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: white;

    .headerlogo {
        padding: 5px;
        margin: 10px;
        width: 414px;
        height: 76px;
    }

    .header-buton-section-container {
        display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
    } 
            //Hides the two buttons on the website

            @media (max-width: 726px){
                .contact-button, 
                .support-button{
                        display: none;

                }
            }

     .search-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
        
            // Full Search Bar for Large Viewports
            .search-box {
                width: 300px; // Matches large viewport design
                height: 52px;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                font-size: 16px;
                display: block; 
                transition: all 0.3s ease;
        
                @media (max-width: 768px) {
                    display: none; 
                                }
            }
        
            .search-button {
                width: 52px;
                height: 52px;
                background-color: #e6e6e6;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .search-icon {
                    font-size: 24px;
                }
            }
        
            // Medium Viewport - Icon Only
            @media (max-width: 768px) {
                .search-box {
                    display: none; // Hidden on medium breakpoints
                }
        
                .search-button {
                    width: 46px;
                    height: 46px;
                }
            }

        
            // Smallest Viewport - Full Search Bar with Magnifying Glass
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
        
                .search-box {
                    display: block;
                    width: 100%; // Matches full width in smaller viewport
                    max-width: 637px;
                    height: 46px;
                    margin-bottom: 10px;
                }
        
                .support-button {
                    display: flex;
                    width: 46px;
                    height: 46px;
                    align-items: center;
                    }
            }
        }
        
    }

    .menu-icon {
        padding: 5px;
        margin: 10px;
        flex-grow: 0.25;
        justify-self: flex-end;
        color: black;
    }
