

.service-card {
    flex: 0 1 calc(25% - 20px);
    background: $inverse-color;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        transform: scale(1.05);
    }

    .icon-container {
        width: 80px;
        height: 80px;
        margin: 0 auto 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .OS_Card_Header {
        font-size: 1.5rem;
        margin: 15px 0;
        color: #333;
    }

    .OS_card_para {
        flex-grow: 1;
        font-size: 1rem;
        color: #555;
        margin: 10px 0;
    }

    .read-more-btn {
        margin-top: auto;
        display:inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

// Specific card styles
.telecoms-services {
    .icon-container {
        background-color: $telecoms-color;
        color: $inverse-color;
    }

    .read-more-btn {
        background-color: $telecoms-color;
        color: $inverse-color;
    }

    &:hover {
        background-color: $telecoms-color;

        .icon-container {
            background-color: $inverse-color;
            color: $telecoms-color;
        }

        .read-more-btn {
            background-color: $inverse-color;
            color: $telecoms-color;
        }
    }
}

.web-design {
    .icon-container {
        background-color: $web-design-color;
        color: $inverse-color;
    }

    .read-more-btn {
        background-color: $web-design-color;
        color: $inverse-color;
    }

    &:hover {
        background-color: $web-design-color;

        .icon-container {
            background-color: $inverse-color;
            color: $web-design-color;
        }

        .read-more-btn {
            background-color: $inverse-color;
            color: $web-design-color;
        }
    }
}

.cyber-security {
    .icon-container {
        background-color: $cyber-security-color;
        color: $inverse-color;
    }

    .read-more-btn {
        background-color: $cyber-security-color;
        color: $inverse-color;
    }

    &:hover {
        background-color: $cyber-security-color;

        .icon-container {
            background-color: $inverse-color;
            color: $cyber-security-color;
        }

        .read-more-btn {
            background-color: $inverse-color;
            color: $cyber-security-color;
        }
    }
}

.developer-training {
    .icon-container {
        background-color: $developer-training-color;
        color: $inverse-color;
    }

    .read-more-btn {
        background-color: $developer-training-color;
        color: $inverse-color;
    }

    &:hover {
        background-color: $developer-training-color;

        .icon-container {
            background-color: $inverse-color;
            color: $developer-training-color;
        }

        .read-more-btn {
            background-color: $inverse-color;
            color: $developer-training-color;
        }
    }
}
