body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $breakpoint-sm) {
        width: 750px;
    }

    @media (min-width: $breakpoint-md) {
        width: 970px;
    }

    @media (min-width: $breakpoint-lg) {
        width: 1200px;
    }
}

.above-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;

    margin-bottom: 1rem;
}