// ==========================================================================
//  Case Studies Styles
// ==========================================================================
.case-studies {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #333645;
}

.case-study-item {
    display: flex;
    position: relative;
}
.case-study-image-container {
    display: flex;
    overflow: hidden;
    height: 120px;
    img {
        display: block;
        align-self: center;
        margin-right: 50px;
        width: 100%;
        padding: 0 20px;
        max-height: 70px;
        height: auto;
        width: auto !important;
        max-width: 200px;
        filter: grayscale(1);
        overflow: hidden;
    }
    img:hover {
        filter: grayscale(0);
    }  
}

// ToolTips
.case-study-description-1 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 50%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-1 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-2 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-2 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-3 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-3 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-4 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-4 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-5 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-5 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-6 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-6 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-7 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-7 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-8 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 50%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-8 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-9 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 50%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-9 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-10 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-10 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-11 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-11 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-12 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -50px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-12 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

.case-study-description-13 {
    overflow: hidden;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 40%;
    left: -80px;
    text-align: center;
    width: 280px;
    margin-bottom: 60px;
}
.case-study-tooltip-13 {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    width: 100%;
    max-width: 280px;
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
}

// Arrow styles

.triangle-case-study-1 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-2 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-3 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-4 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-5 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-6 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-7 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-8 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-9 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-10 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-11 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-12 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

.triangle-case-study-13 {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #333645 transparent transparent transparent;
    transform: rotate(0deg);
}

// Show Tooltip On Hover

.item-1:hover .case-study-description-1,
.item-2:hover .case-study-description-2,
.item-3:hover .case-study-description-3,
.item-4:hover .case-study-description-4,
.item-5:hover .case-study-description-5,
.item-6:hover .case-study-description-6,
.item-7:hover .case-study-description-7,
.item-8:hover .case-study-description-8,
.item-9:hover .case-study-description-9,
.item-10:hover .case-study-description-10,
.item-11:hover .case-study-description-11,
.item-12:hover .case-study-description-12,
.item-13:hover .case-study-description-13 {
    display: block;
} 