// ==========================================================================
//  Header Styles
// ==========================================================================
header {
    padding-top:  20px;
    img{
        padding: 0;
        box-sizing: border-box;
        display: block;
        flex-shrink: 3;
        align-self: center;
        max-width: 100%;
    }
}
.header-background {
    background-color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}
.header-logo-container {
    display: flex;
    align-items: center;
}
.header-actions-container{
    display: flex;
    padding: 7px 0;
}

.header-phone-icon {
    max-width: 100%;
    font-size: 32px;
    margin-left: 15px;
    color: #333645;
    align-self: center;
}

.header-icon-menu-container {
    align-self: center;
    margin-left: 20px;
    display: flex;
    :hover {
        background-color: #22242e;
        border-color: #191a22;
        .hamburger-inner {
            background-color: #fff;
        }
    }
}

.icon-menu {
    line-height: 46px !important;
    display: flex;
    max-width: 100%;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #333645;
    font-size: 2rem;
    align-self: center;
    width: 100%;
    height: 56px;
}

//Burger Menu
.hamburger-box {
    padding: 5px 15px;
    width: 63px;
    height: 19px;
    display: block;
    position: relative;
    font-size: 1.438rem;
    line-height: 45px;
    color: #fff;
    background-color: #333645;
    border-color: #333645;
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    border-radius: 3px;
}

.hamburger-inner {
    background-color: #fff;
    border-radius: 0;
    font-size: 1.438rem;
    line-height: 45px;
    width: 33px;
    height: 4px;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block;
    top: 50%;
    margin-top: -1.5px;
    transition-duration: .22s;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
}

.hamburger-inner::before {
    content: "";
    top: -10px;
    background-color: #fff;
    border-radius: 0;
    width: 33px;
    height: 4px;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block;
    transition: top .1s ease-in .25s,opacity .1s ease-in;
}

.hamburger-inner::after {
    content: "";
    bottom: -10px;
    background-color: #fff;
    border-radius: 0;
    width: 33px;
    height: 4px;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block;
    transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
}
// Header Form
.header-form {
    position: relative;
    margin-top: 11px;
    color: #888;
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, .1);
    transition: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding-right: 40px;
}

.icon-search-small {
    background: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 30px;
    margin-top: 20px;
}

.form-container {
    position: relative;
    padding-bottom: 20px;
}

.large-form-container {
    align-self: center;
    display: flex;
    margin-left: 20px;
}

.header-form-large {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    height: 56px;
    margin: 0;
    outline: none;
    padding: 5px 15px;
    border-color: #ccc;
}
.large-form-icon-container {
    display: flex;
    align-items: center;
    align-self: center;
    line-height: 0;
    outline: none;
    background-color: #999aa2;
    height: 56px;
    font-size: 1.063rem;
    border-radius: 0 3px 3px 0;
    border: none;
    color: #fff;
    padding: 7px 20px 3px;
    :hover {
        background-color: #7e808a;
    }
}

.icon-search-large {
    border: 0;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    align-self: center;
    display: inline;
    position: relative;
    top: -2px;
}

// Focus
.header-form-large:focus {
    outline: 0;
    border-color: #5bc0de;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
}

// Hover Effect
.large-form-icon-container:hover {
    background-color: #7e808a;
}

// Media Queries 
.row {
    @media (max-width:765px) {
        padding-bottom: 0;
    }
}

.form-container, .header-phone-icon {
    @media (min-width:766px) {
        display: none;
    }
}

.header-form-large, .icon-search-large, .large-form-icon-container {
    @media (max-width:765px) {
        display: none;
    }
}

.header-logo-container {
    @media (min-width:768px) {
        width: 50%;
    }
    @media (min-width:992px) {
        width: 41.66666667%
    }
    @media (min-width:1260px) {
        width: 33.33333333%;
    }
}

.header-form-large {
    @media (min-width: 766px) {
        width: 174px;
        border-radius: 0;
    }
}
.header-form-large {
    @media (min-width: 992px) {
        display: none;
    }
}
.header-form-large {
    @media (min-width: 1260px) {
        display: inline;
        border-radius: 0;
        width: 240px;
    }
}

.large-form-icon-container {
    @media (min-width: 992px) and (max-width: 1259px) {
        border-radius: 3px;
    }
} 