// ==========================================================================
//  Drop Down Menu Styles
// ==========================================================================
// Main Nav
.drop-down-menu-main-nav-container {
    background-color: #333645;
    margin-bottom: 0;
}

.drop-down-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    width: 100%;
}

.main-nav-ddm {
    display: flex;
    flex-direction: column;
    padding: 19px 0 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    small {
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
    }
}

// Drop Down Menu Triangles
.triangle {
    display: inline-block;
    position: relative;
    z-index: 20;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 83px 0 83px;
    border-color: #FF4532 transparent transparent transparent;
    transform: rotate(0deg);
    left: 0;
    top: -32px;
    margin-top: 12px;
    display: none;
    align-self: center;
}

// Sub Menus
.sub-menu-container {
    display: none;
    z-index: 10;
    position: absolute;
    padding: 0;
    min-width: 100%;
    left: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 82px;
}

.sub-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: left;
    span {
        margin-right: 10px;
    }
    li {
        width: 33%;
        margin-top: 15px;
    }
    .sub-menu-title {
        text-transform: none;
        width: 100%;
        color: #fff !important;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 2rem;
    }
    .sub-menu-a-underline:hover {
        text-decoration: underline;
    }
}

// Hover Effect 
.main-nav-ddm-1 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #526781;
            display: block;
        }
        ul,li,a,span {
            background-color: #526781;
        }
        .icon-software-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #67809f transparent transparent transparent;
        }
    }
}

.main-nav-ddm-2 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #286abd;
            display: block;
        }
        ul,li,a,span {
            background-color: #286abd;
        }
        .icon-it-support-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #4183d7 transparent transparent transparent;
        }
    }
}

.main-nav-ddm-3 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #25a25a;
            display: block;
        }
        ul,li,a,span {
            background-color: #25a25a;
        }
        .icon-digital-marketing-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #2ecc71 transparent transparent transparent;
        }
    }
}

.main-nav-ddm-4 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #bc2c28;
            display: block;
        }
        ul,li,a,span {
            background-color: #bc2c28;
        }
        .icon-telecoms-service-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #d64541 transparent transparent transparent;
        }
    }
}

.main-nav-ddm-5 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #79539a;
            display: block;
        }
        ul,li,a,span {
            background-color: #79539a;
        }
        .icon-web-design-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #926fb1 transparent transparent transparent;
        }
    }
}

.main-nav-ddm-6 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #de093f;
            display: block;
        }
        ul,li,a,span {
            background-color: #de093f;
        }
        .icon-cyber-security-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #f62459 transparent transparent transparent;
        }
    }
}

.main-nav-ddm-7 {
    :hover {
        color: #fff;
        .sub-menu-container {
            background-color: #a3331d;
            display: block;
        }
        ul,li,a,span {
            background-color: #a3331d;
        }
        .icon-developer-training-ddm {
            color: #fff;
        }
        a {
            text-transform: none;
            color: #fff;
        }
        .triangle {
            display: inline-flex;
            border-color: #ce4125 transparent transparent transparent;
        }
    }
}

// Main Nav Icons
.icon-software-ddm {
    color: #67809f;
    font-size: 1.6rem;
}

.icon-it-support-ddm {
    color: #4183d7;
    font-size: 1.6rem;
}

.icon-digital-marketing-ddm {
    color: #2ecc71;
    font-size: 1.6rem;
}

.icon-telecoms-service-ddm {
    color: #d64541;
    font-size: 1.6rem;
}

.icon-web-design-ddm {
    color: #926fb1;
    font-size: 1.6rem;
}

.icon-cyber-security-ddm {
    color: #f62459;
    font-size: 1.6rem;
}

.icon-developer-training-ddm {
    color: #ce4125;
    font-size: 1.6rem;
}

// Media Queries
.drop-down-menu-main-nav-container {
    @media (max-width: 992px) {
        display: none;
    }
}

// Triangles
.triangle-1 {
    @media (min-width: 994px) {
        left: -403px;
    }
    @media (min-width: 1260px) {
        left: -500px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-2 {
    @media (min-width: 994px) {
        left: -269px;
    }
    @media (min-width: 1260px) {
        left: -336px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-3 {
    @media (min-width: 994px) {
        left: -134px;
    }
    @media (min-width: 1260px) {
        left: -167px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-4 {
    @media (min-width: 994px) {
        left: 0px;
    }
    @media (min-width: 1260px) {
        left: 0px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-5 {
    @media (min-width: 994px) {
        left: 134px;
    }
    @media (min-width: 1260px) {
        left: 168px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-6 {
    @media (min-width: 994px) {
        left: 268px;
    }
    @media (min-width: 1260px) {
        left: 334px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.triangle-7 {
    @media (min-width: 994px) {
        left: 404px;
    }
    @media (min-width: 1260px) {
        left: 501px;
    }
    @media (max-width: 1260px) {
        border-width: 40px 67px 0 67px;
    }
}

.main-nav-ddm {
    @media (max-width: 1259px) {
        padding: 19px 0 18px;
    }
}

.sub-menu {
    @media (max-width: 1259px) {
        justify-content: center;
        li {
            width: 50%;
        }
        .sub-menu-title {
            text-align: center;
        }
    }
}

.sub-menu {
    @media (max-width: 992px) {
        justify-content: center;
        li {
            width: 100%;
        }
        .sub-menu-title {
            text-align: center;
        }
    }
}

.main-nav {
    @media (max-width: 1135px) {
        display: none;
    }
} 