// ==========================================================================
//  Our Services Styles
// ==========================================================================

.our-services {
    padding-top: 30px;
    h2 {
        font-size: 2.7rem;
        line-height: 1.1;
        color: #333645;
        font-weight: 400;
    }
    h3 {
        line-height: 1.1;
        font-size: 1.625rem;
        font-weight: 600;
        color: #333645;
        text-align: right;
    }
}

.our-services-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: center;
    }
}
.our-services-icon-arrow-right {
    margin-left: 8px;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .service {
        display: block;
        border: 1px solid #ccc;
        padding: 30px;
        box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
        border-radius: 15px;
        text-align: center;
        margin-top: 30px;
        top: 0;
        position: relative;
    }
    p {
        font-size: .8125rem;
        font-weight: 400;
        margin-bottom: 13px;
        line-height: 1.375rem;
        color: #333645;
    }
    h2 {
        font-size: 1.3rem;
        position: relative;
        padding-bottom: 10px;
        margin: 0 0 11px;
    }
    span {
        display: block;
        font-size: 2rem;
        line-height: 62px;
        height: 65px;
        width: 65px;
        margin: 0 auto 17px;
        color: #fff;
        border-radius: 50%;
    }
}
.service-container {
    width: 100%;
}
.our-services-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// Flex Box Hover Effect
.software:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #67809f;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #67809f;
        border-color: transparent;
    }
    span {
        color: #67809f;
        background-color: #fff;
    }
}
.it-support:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #4183d7;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #4183d7;
        border-color: transparent;
    }
    span {
        color: #4183d7;
        background-color: #fff;
    }
}
.digital-marketing:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #2ecc71;
    h2 {
        color: #fff;
     }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #2ecc71;
        border-color: transparent;
    }
    span {
        color: #2ecc71;
        background-color: #fff;
    }
}
.telecoms-service:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #d64541;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #d64541;
        border-color: transparent;
    }
    span {
        color: #d64541;
        background-color: #fff;
    }
}
.web-design:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #926fb1;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #926fb1;
        border-color: transparent;
    }
    span {
        color: #926fb1;
        background-color: #fff;
    }    
}
.cyber-security:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #f62459;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #f62459;
        border-color: transparent;
    }
    span {
        color: #f62459;
        background-color: #fff;
    } 
}
.developer-training:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #ce4125;
    h2 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    a {
        background-color: #fff;
        color: #ce4125;
        border-color: transparent;
    }
    span {
        color: #ce4125;
        background-color: #fff;
    }    
}

// Media Queries 

.service-list {
    @media (min-width: 767px) {
        flex-direction: row;
    }
}

.service-container {
    @media (min-width: 992px) {
        width: 33.33333333%;
        padding: 15px;
    }
    @media (min-width: 1260px) {
        width: 25%;
    }
}

.our-services-top {
    @media (max-width: 1259px) {
        text-align: center;
        justify-content: center;
    }
}

.our-services-bottom {
    @media (max-width: 1259px) {
        h3 {
            text-align: center;
            width: 100%;
        }
    }
} 