// Variables

//background
$background-color: #323544;


// Variables for color scheme
$telecoms-color: #e74c3c; // Red
$web-design-color: #8e44ad; // Purple
$cyber-security-color: #e84393; // Pink
$developer-training-color: #d35400; // Orange
$inverse-color: #ffffff; // White for inverse hover

//Buttons

$hd_btn_color:blue;
$ws-btn-color: black;
// $secondary-color: #6c757d;
// $tertiary-color: #f8f9fa;
// $accent-color: #ff4085;

// $font-family: 'Arial', sans-serif;
// $font-size: 16px;
// $font-weight: 400;
// $line-height: 1.5;
// $text-color: #fff;
// $link-color: #fff;

//Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1260px;


// Navigation colors
$nav-software: #67809f;
$nav-support: #4183d7;
$nav-marketing: #2ecc71;
$nav-telecoms: #d64541;
$nav-web: #926fb1;
$nav-security: #f62459;
$nav-course: #ce4125;