// Variables

// Sidebar width
$sidebar-width: 355px;

//background
$background-color: #323544;


// Variables for color scheme
$telecoms-color: #e74c3c; // Red
$web-design-color: #7e57a0; // Purple
$cyber-security-color: #e84393; // Pink
$developer-training-color: #d35400; // Orange
$inverse-color: #ffffff; // White for inverse hover

$white: #ffffff;
$black: #000000;

//Buttons

$color-button-blue:blue;
$ws-btn-color: black;
$primary-color: #e74c3c;
$secondary-color: #6c757d;
$tertiary-color: #f8f9fa;
$accent-color: #ff4085;

$light-gray: #f5f5f5;
$dark-gray: #333;

$footer-bg: #2c3e50;
$footer-text: #ecf0f1;
$footer-link: #ecf0f1;
$footer-border: #ecf0f1;

$success-color: #2ecc71;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
$info-color: #3498db;
$light-color: #ecf0f1;
$dark-color: #333;





// $font-family: 'Arial', sans-serif;
// $font-size: 16px;
// $font-weight: 400;
// $line-height: 1.5;
// $text-color: #fff;
// $link-color: #fff;

//Breakpoints
$breakpoint-xs: 0px;       // below 768px
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1260px;



// Navigation colors
$nav-software: #67809f;
$nav-support: #4183d7;
$nav-marketing: #2ecc71;
$nav-telecoms: #d64541;
$nav-web: #926fb1;
$nav-security: #f62459;
$nav-course: #ce4125;
$nav-main: #333645;

$color-white: #ffffff;
$color-background: #333645;
$color-button-grey: #999aa2;
$color-blue: #2e86de;
$color-border: #e5e5e5;
$color-form-focus: #66afe9;
