// Variables

// Sidebar width
$sidebar-width: 355px;

//background
$background-color: #323544;


// Variables for color scheme
$telecoms-color: #e74c3c; // Red
$web-design-color: #7e57a0; // Purple
$cyber-security-color: #e84393; // Pink
$developer-training-color: #d35400; // Orange
$inverse-color: #ffffff; // White for inverse hover

$white: #ffffff;
$black: #000000;

//Buttons

$color-button-blue:#4183d7;
$ws-btn-color: black;
$primary-color: #e74c3c;
$secondary-color: #6c757d;
$tertiary-color: #f8f9fa;
$accent-color: #ff4085;

$light-gray: #f5f5f5;
$dark-gray: #333;

$footer-bg: #2c3e50;
$footer-text: #ecf0f1;
$footer-link: #ecf0f1;
$footer-border: #ecf0f1;

$success-color: #2ecc71;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
$info-color: #3498db;
$light-color: #ecf0f1;
$dark-color: #333;





// $font-family: 'Arial', sans-serif;
// $font-size: 16px;
// $font-weight: 400;
// $line-height: 1.5;
// $text-color: #fff;
// $link-color: #fff;

//Breakpoints
$breakpoint-xs: 0px;       // below 768px
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1260px;



// Navigation colors
$nav-software: #4183d7;      // Bespoke Software blue
$nav-support: #67809f;       // IT Support grey-blue
$nav-marketing: #2ecc71;     // Digital Marketing green
$nav-telecoms: #e67e22;      // Telecoms orange
$nav-web: #926fb1;          // Web Design purple
$nav-security: #e74c3c;      // Cyber Security red
$nav-course: #ce4125;       // Developer Course red
$nav-main: #333645;         // Main navigation background

$color-white: #ffffff;
$color-background: #333645;
$color-button-grey: #999aa2;
$color-blue: #2e86de;
$color-border: #e5e5e5;
$color-form-focus: #66afe9;

// Variables for news cards
$news-card-border-radius: 8px;
$news-card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$news-card-padding: 25px;

$tag-news-bg: #8E44AD;    // Purple
$tag-careers-bg: #4183D7; // Blue
$tag-case-study-bg: #4CAF50; // Green )
$tag-text-color: #fff;
$tag-padding: 5px 15px;
$tag-border-radius: 4px;
$tag-font-size: 0.8rem;

$btn-news-bg: #8E44AD;    // Purple
$btn-careers-bg: #4183D7; // Blue
$btn-case-study-bg: #F5B041; // Gold/Yellow
$btn-text-color: #fff;
$btn-padding: 10px 25px;
$btn-border-radius: 4px;
$btn-font-size: 0.9rem;
$btn-font-weight: 600;
$btn-text-transform: uppercase;

$author-avatar-size: 40px;
$author-text-color: #666;
$author-name-weight: 600;
$date-font-size: 0.85rem;
